txtflask
flask-sqlalchemy
flask-cors
python-dotenv
pymysql
cryptography
werkzeug

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-sqlalchemy

python-json-logger