server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: ecommerce-app-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: ecommerce-app
          app: flask
          __path__: /logs/app_json.log
    pipeline_stages:
      - json:
          expressions:
            timestamp: timestamp
            level: level
            message: message
            logger: logger
            taskName: taskName
      - labels:
          level:
          logger:
          taskName:
      - timestamp:
          source: timestamp
          format: '2006-01-02 15:04:05,000'
      - output:
          source: message
